<toast-provider></toast-provider>
<div>
  <main-view-navbar></main-view-navbar>
  <div class="flex overflow-hidden bg-white pt-16">
    <main-view-left-panel
      [user]="user | async"
      (signOut)="signOut()"></main-view-left-panel>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"></div>
    <div
      id="main-content"
      class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
      <main>
        <div class="m-5 h-full">
          <router-outlet></router-outlet>
        </div>
      </main>
      <main-view-footer></main-view-footer>
    </div>
  </div>
</div>
